

section {
    padding: 20px;
    margin-bottom: 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    main {
        width: 35vw;
    }
    main h1{
        font-size: 52px;
        line-height: 64px;
    }

    main p {
        color: var(--text-grey);
        font-weight: 500;
        margin: 5px;
    }

    main button {
        margin-top: 15px;
        padding: 12px 32px;
    }
    img.main-img {
        max-width: 50%;
        height: fit-content;
    }
}

.about-content {
    display: flex;
    justify-content: center;
    background: var(--primary-blue);
    width: 100vw;
    padding: 40px 0px;
    padding-bottom: 80px;
    margin-bottom:0px;
    .image-stack {
        display: grid;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
        max-width: 500px;
        box-sizing: border-box;
      }
      
      .image-stack__item--bottom {
        grid-column: 4 / -1;
        grid-row: 1;
        padding-top: 25%;
      }
      
      .image-stack__item--top {
        grid-row: 1;
        grid-column: 1 / span 2;
        z-index: 1; 
      }

    img {
        max-width: 500px;
        height: fit-content;
        border-radius: 3px;
    }

    .about-description {
        width: 45%;
        max-width: 900px;
        
        p {
            margin-bottom: 10px;
            color: var(--text-white);
        }
    }
}

.services-content {
    background: var(--light-blue);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .why-us {
        background: white;
        width: 90%;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: relative;
        bottom: 80px;
        padding-top: 15px;
    }

    .why-us h2 {
        font-size: 32px;
        text-align: center;
    }

    .why-us .why-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .why-us .why-section .why-block{
        width: 370px;
        margin: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid var(--secondary-red);
        border-radius: 60px;
        padding: 15px;

        img {
            margin: 0 12px;
            margin-right: 20px;
        }

        span {
            max-width: 60%;
            font-weight: 600;
        }
    }

    .why-us img{
        max-width: 80px;
        height: auto;
    }
}

@media (max-width:800px) {
    section {
        padding: 10px;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .main-content main{
        width: 70vw;
        text-align: center;
        h1{
            font-size: 42px;
            line-height: 52px;
        }

        p {
            font-size: 12px;
        }

        a {
            font-size: 16px;
        }

        .main-content main img.main-img {
            width: 70%;
            margin-top: 20px;
        }
        
    }

    .about-content {
        flex-direction: column;
        align-items: center;

        .about-description {
            width: 80%;
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
        }
    }

    
}

@media (max-width:510px) {

    .main-content main {
        width: 70vw;
        text-align: center;
        /* position: relative;
        left: 40px; */
    }
    .main-content img.main-img {
        max-width: 100%;
        margin-top: 10px;
    }

    .about-content {
        /* width: calc(100vw + 40px); */
        .image-stack {
            max-width: 280px;
        }
        img {
            max-width: 200px;
        }
    }
}